Description=Matlab MCR

Requires=docker.service

After=docker.service

[Service]
TimeoutStartSec=0

KillMode=none

EnvironmentFile=/etc/environment

RemainAfterExit=yes
Type=oneshot


ExecStartPre=-/usr/bin/docker kill vmxmcr
ExecStartPre=-/usr/bin/docker rm vmxmcr
ExecStart=/usr/bin/docker pull visionai/mcr-2014a
ExecStart=/usr/bin/docker run --name vmxmcr -d visionai/mcr-2014a

ExecStop=/usr/bin/docker stop vmxmcr

[X-Fleet]
Global=true
MachineMetadata="vmxtype=vmxserver"
