Description=VMX Server

# Requirements
Requires=vmx-server-binary-discovery.service
Requires=vmx-pretrained-discovery.service
Requires=vmxserver-discovery.%i.service

# Dependency ordering
After=vmx-pretrained.service
After=vmx-server-binary.service

Before=vmxserver-discovery.%i.service

[Service]
TimeoutStartSec=0

# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
ExecStartPre=-/usr/bin/docker kill vmxservernode-%i
ExecStartPre=-/usr/bin/docker rm vmxservernode-%i
ExecStartPre=/usr/bin/docker pull visionai/vmx-server-node
ExecStart=/usr/bin/docker run -t    --volumes-from vmxmcr  -v /home/core/vmx/data:/vmx/data   -v /home/core/vmx/build:/vmx/build -p ${COREOS_PRIVATE_IPV4}:%i:%i   --name vmxservernode-%i          --rm                               visionai/vmx-server-node /vmx/build/VMXserver /vmx/build %i
# Stop
ExecStop=/usr/bin/docker stop vmxservernode-%i

[X-Fleet]
# Schedule on the same machine as the associated Middle Service
MachineMetadata="vmxtype=vmxserver"
