Description= Runs the baby mamma front end

[Service]
TimeoutStartSec=0

KillMode=none
Restart=on-failure

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker rm babyma
ExecStartPre=-/usr/bin/docker pull gdoteof/babymamma

ExecStart=/bin/bash -c '\
    REDIS_SERVER=$(etcdctl ls /services/redis | cut -d"/" -f4 | head -n 1) ; \
    docker run -t -i -p 8080:80 -e "REDIS_HOST=$REDIS_SERVER" gdoteof/babymamma'
ExecStop=/usr/bin/docker stop babyma

[X-Fleet]
# Schedule on the same machine as the associated Middle Service
MachineMetadata="vmxtype=vmxworker"
Global=true
