[Unit]
Description= Runs the baby mamma front end

# Requirements
Requires=etcd.service
Requires=babyma-pre.service

# Dependency ordering
After=etcd.service
After=babyma-pre.service

[Service]
TimeoutStartSec=30
TimeoutSec=60


KillMode=none
Restart=on-failure

EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker rm babyma
ExecStartPre=-/usr/bin/docker pull gdoteof/babymamma

ExecStart=/bin/bash -c '\
    source /etc/profile.d/etcdctl.sh; \
    REDIS_SERVER=$(etcdctl ls /services/redis | cut -d"/" -f4 | head -n 1) ; \
    docker run -t -p 8080:8080 -e "REDIS_HOST=$REDIS_SERVER" --name babyma gdoteof/babymamma'
ExecStop=/usr/bin/docker stop babyma

[X-Fleet]
# Schedule on the same machine as the associated Middle Service
MachineMetadata="vmxtype=webworker"
