Description=Redis Discovery

Requires=etcd.service
Requires=redis.service

After=etcd.service
BindsTo=redis.service

[Service]
TimeoutStartSec=0

EnvironmentFile=/etc/environment

ExecStart=/bin/bash -c '\
  while true; do \
    source /etc/profile.d/etcdctl.sh; \
    docker run --rm redis redis-cli -h ${COREOS_PRIVATE_IPV4} ping; \
    if [ $? -eq 0 ]; then \
      echo "Setting etcd value for redis.." ; \
      etcdctl --debug set /services/redis/${COREOS_PRIVATE_IPV4} \'{"host": "%H", "ipv4_addr": ${COREOS_PRIVATE_IPV4}, "port": 6379}\' --ttl 30; \
    else \
      echo "removing etcd value for redis.."; \
      etcdctl --debug rm /services/redis/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 20; \
  done'

ExecStop=/usr/bin/etcdctl rm /services/redis 

[X-Fleet]
MachineOf=redis.service
